*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  width: 50px;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  width:100%;
  padding:10px;
  color: white;
}

.todo_wrapper{
  width: 60%;
  min-height: 50vh;
  border:1px solid black;
  margin: 40px auto;
  border-radius: 10px;
  padding:10px
}
.input_related{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.input_related input{
  flex-grow: 1;
  padding: 10px 0;
  margin-right:10px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border:1px solid black;
  font-size: 17px;
}

ul li{
  list-style: none;
}

.list_style{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_style > p{
  font-size: 17px;
  color:blue
}

.list{
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .input_related{
    flex-direction: column;}
    .input_related input{
      margin-bottom: 5px;
      margin-right: 0;
      width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .input_related input{
    font-size: 14PX;
    }
}

